@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");
@import "tailwindcss";

@layer base {
  html {
    font-family: Raleway, sans-serif;
  }

  body {
    @apply bg-blue-100;
  }
}

.ReactModal__Overlay {
  opacity: 0;
  transition: opacity 200ms ease-in-out;
}

.ReactModal__Overlay--after-open {
  opacity: 1;
}

.ReactModal__Overlay--before-close {
  opacity: 0;
}

.ReactModal__Content {
  scale: 0;
  transition: scale 200ms ease-in-out;
}

.ReactModal__Content--after-open {
  scale: 1;
}

.ReactModal__Content--before-close {
  scale: 0;
}
